@import "tailwindcss";
@theme {
  --color-brand-50: #EEF3F7;
  --color-brand-100: #DDE8EE;
  --color-brand-200: #BBD0DD;
  --color-brand-300: #98B9CD;
  --color-brand-400: #76A1BC;
  --color-brand-500: #548AAB;
  --color-brand-600: #436E89;
  --color-brand-700: #325367;
  --color-brand-800: #223744;
  --color-brand-900: #111C22;
  --color-brand-950: #0C1318;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-brand-50);
    --foreground: #ededed;
  }
}


body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}